<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" type="text/css" href="/assets/dashstyles.css">
</head>
<body>
    <header>
        <h1>Scotbank</h1>
    </header>
    <ul>
        <li><a class="active" href="">Dashboard</a></li>
        <li><a href="/scotbank/transfer">Transfer</a></li>
        <li><a href="">example</a></li>
        <li><a href="">example</a></li>
    </ul>

    <main>
        <div id="UserOverview">
            <h2>Account Overview</h2>
            <p>id: {{id}}</p>
            <p>Name: {{name}}</p>
        </div>

        <div id="balanceOverview">
            <h2>Account Balance</h2>
            <p>Balance: {{balance}}</p>
        </div>

        <section id="transactions">
            <h2>Transaction History</h2>
            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Date</th>
                        <th>From</th>
                        <th>To</th>
                        <th>Amount</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each transactions}}
                        <tr class="transaction-box">
                            <td>{{this.transactionId}}</td>
                            <td>{{this.date}}</td>
                            <td>{{this.from}}</td>
                            <td>{{this.to}}</td>
                            <td>{{this.amount}}</td>
                        </tr>
                    {{/each}}
                </tbody>
                </tbody>
            </table>
        </section>

        <a class="logout" href="/scotbank/login">Logout</a>
    </main>
</body>
</html>